


<div class="container">
  <div class="row">

<h1>Barbershop Store Name</h1>

    <div class="barbershop_information">
      <h2>Phone number</h2>
      <h3>Business Hours</h3>
      <p>Price Range</p>
      <p>Reserve</p>
    </div>

  </div>
</div>
