// Specific CSS for your home-page
/* Main navbar */

  .search {
    width:350px;
    color: #000;
  }

  .search {
    h2 {
      color:#fff;
      // text-decoration: underline;
    }
    .btn {
      border-radius: 10px;
    }
  }
