// Import page-specific CSS files here.
@import "home";

.navbar-aircut {
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
    background: white;
    transition: all 0.3s ease;
    height: 70px;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* Logo */
  .navbar-aircut-brand img {
    width: 110px;
    height: 50px;
  }

  /* User Avatar */
  .navbar-aircut .avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }

  /* Right section */
  .navbar-aircut-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* Basic navbar item */
  .navbar-aircut-item {
    cursor: pointer;
    padding: 0 20px;
  }



  /* Shop Index Page*/
  .barbershop_information {
    width:90%;
    max-width:750px;
    margin:20px auto;
    background:#EDE4DD;
    box-shadow: 1px 1px 1px #000;
    text-align:center;
    padding-top:10px;
    padding-bottom:20px;
    height:250px;
    max-height: 600px;
  }

  .barbershop_information {
    h4 {
      font-size:18px;
      font-weight: bold;
      text-decoration: underline;
    }

    p {
      font-size:0.9em;
    }
  }

  @media screen and (min-width:480px) and (max-width:959px) {
    .barbershop_information {
      height:300px;
    }/* 利用の際は消去 */
  }

  @media screen and (max-width:480px) {
  .barbershop_information {
    height:550px;
    }/* 利用の際は消去 */
  }

