// Import page-specific CSS files here.
@import "home";

/* Shop Index Page*/
  .barbershop_information {
    width:90%;
    max-width:750px;
    margin:20px auto;
    background:#EDE4DD;
    box-shadow: 1px 1px 1px #000;
    text-align:center;
    padding-top:10px;
    padding-bottom:20px;
    height:250px;
    max-height: 600px;
  }

  .barbershop_information {
    h4 {
      font-size:18px;
      font-weight: bold;
      text-decoration: underline;
    }

    p {
      font-size:0.9em;
    }
  }

  .appointment_form {
    background-color:#D3D3D3;
    padding:10px 30px;
    border-radius:10px;
    box-shadow: 1px 2px 5px #000;
  }

  .appointment_form {
    .btn {
      background-color:#8b5d2e;
      color:white;
      border-radius: 2px;
    }
  }

  @media screen and (min-width:480px) and (max-width:959px) {
    .barbershop_information {
      height:300px;
    }

    .appointment_form {
      width:95%;
    }
  }

  @media screen and (max-width:480px) {
  .barbershop_information {
    height:550px;
    }

  .appointment_form {
    width:95%;
  }
  }

