// Import page-specific CSS files here.
@import "home";

.navbar-aircut {
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
    background: white;
    transition: all 0.3s ease;
    height: 70px;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* Logo */
  .navbar-aircut-brand img {
    width: 110px;
    height: 50px;
  }

  /* User Avatar */
  .navbar-aircut .avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }

  /* Right section */
  .navbar-aircut-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* Basic navbar item */
  .navbar-aircut-item {
    cursor: pointer;
    padding: 0 20px;
  }
