<div class="navbar-aircut">
  <!-- Logo -->
  <a href="/" class="navbar-aircut-brand">
    <%= image_tag "aircuts_logo1.png", alt:"logo" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-aircut-right hidden-xs hidden-sm">

    <a href="" class="navbar-aircut-item navbar-aircut-link">Log in</a>
    <a href="" class="navbar-aircut-item navbar-aircut-link">Sign up</a>
  </div>
</div>

<div class="banner">
</div>