h2 {
  margin: 30px;
}

.form-group {
  margin: 20px;
}

.btn-primary {
  margin-top: 40px;
}

.left {
  width:50%;
  float:left;
}


  .scissors {
    width:35%;
    float: right;
    padding-right:40px;
    margin-top:10px;
    p {
      text-align: center;
      padding: 5px;
    }
  }


